<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFFMPEG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A3741131F55694F0039D0F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A37412C1F55694F0039D0F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A3741371F55694F0039D0F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
